* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.header {
  background-image: linear-gradient(to top, #fad0c4 0%, #ffd1ff 100%);
  border-bottom: solid 4px rgba(253, 126, 147, 0.349);
}
.header .contenedorPresentacion .tituloHeader {
  color: rgb(243, 45, 78);
  font-family: "Fredoka One";
}

@media screen and (min-width: 320px) {
  .contenedorPresentacion {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }
  .contenedorPresentacion .tituloHeader {
    display: block;
    font-size: 15px;
    text-align: center;
    color: rgba(19, 19, 19, 0.712);
    text-shadow: 5px 5px 0px rgb(252, 222, 90);
    margin-top: 15px;
    font-family: "Fredoka One";
  }
  .contenedorPresentacion .navbar-brand img {
    width: 125px;
  }
}
@media screen and (min-width: 550px) {
  .contenedorPresentacion .tituloHeader {
    font-size: 20px;
  }
}
@media screen and (min-width: 992px) {
  .contenedorPresentacion:hover h1 {
    display: block;
  }
  .contenedorPresentacion .tituloHeader {
    display: none;
    font-size: 23px;
  }
}
@keyframes animacion {
  0% {
    box-shadow: 0 0 0 0 rgba(252, 222, 90, 0.6), 0 0 0 0 rgba(252, 222, 90, 0.6);
  }
  30% {
    box-shadow: 0 0 0 70px rgba(252, 222, 90, 0), 0 0 0 0 rgba(252, 222, 90, 0.6);
  }
  65% {
    box-shadow: 0 0 0 70px rgba(252, 222, 90, 0), 0 0 0 30px rgba(252, 222, 90, 0);
  }
  100% {
    box-shadow: 0 0 0 0 rgba(252, 222, 90, 0), 0 0 0 30px rgba(252, 222, 90, 0);
  }
}
@media screen and (min-width: 320px) {
  .contenedorIndex {
    height: 100vh;
    width: 100%;
    background-image: url(../../img/background.jpg);
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .contenedorIndex .comenzarJuego {
    width: 100%;
    height: 40%;
    border-radius: 70%;
    background-color: rgb(252, 222, 90);
    display: flex;
    justify-content: center;
    align-items: center;
    animation: animacion 2s linear infinite;
  }
  .contenedorIndex .comenzarJuego .waifuGif {
    display: none;
  }
  .contenedorIndex .comenzarJuego .waifuGif img {
    border-radius: 5%;
  }
  .contenedorIndex .botonesComienzo {
    display: flex;
    flex-direction: column;
  }
  .contenedorIndex .botonesComienzo .botones {
    width: 250px;
    height: 100px;
    margin: 10px;
    text-align: center;
    font-family: "Fredoka One";
    border: 10px groove rgb(243, 45, 78);
    border-radius: 15%;
    background-image: linear-gradient(to top, #fad0c4 0%, #ffd1ff 100%);
    color: rgb(243, 45, 78);
  }
}
@media screen and (min-width: 630px) {
  .contenedorIndex .comenzarJuego {
    width: 90%;
    height: 65%;
  }
}
@media screen and (min-width: 815px) {
  .contenedorIndex .comenzarJuego .waifuGif {
    display: block;
  }
  .contenedorIndex .comenzarJuego .waifuGif img {
    width: 85%;
  }
}
@media screen and (min-width: 855px) {
  .contenedorIndex .comenzarJuego {
    height: 80%;
    width: 80%;
  }
}
@media screen and (min-width: 1100px) {
  .contenedorIndex {
    height: 85vh;
    width: 100%;
  }
  .contenedorIndex .comenzarJuego {
    width: 60%;
    height: 95%;
  }
  .contenedorIndex .comenzarJuego .waifuGif {
    display: block;
  }
  .contenedorIndex .comenzarJuego .waifuGif img {
    width: 100%;
  }
}

/*# sourceMappingURL=style.css.map */
