.colorHeader {
    background-color: map-get($colores , "Rosa");
    border-bottom: solid 4px rgba(253, 126, 147, 0.349);
}

@media screen and (min-width:320px) {
    .contenedorPresentacion{
        @include D-Flex (center , center);
        flex-direction: column;
        .tituloHeader {
            display: block;
            font-size: 15px;
            text-align: center;
            color: map-get($colores , "Textos");
            text-shadow: 5px 5px 0px map-get($colores , "Amarillo" );
            margin-top: 15px;
            font-family: map-get($font-family , "Titulos");
        }
        .navbar-brand {
            img {
                width: 125px;
            }
        }
    }
}

@media screen and (min-width:550px) {
    .contenedorPresentacion{
        .tituloHeader {
            font-size: 20px;
        }
    }
}

@media screen and (min-width:992px) {
    .contenedorPresentacion{
        &:hover h1 {
            display: block;
        }
        .tituloHeader {
            display: none;
            font-size: 23px;
        }
    }
}

